@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">Approved Cancellation of Dependent's Membership By Corporate Admin Sent to Member</p>
<p class="greetings">Dear @Model.Member.FirstName</p>
<p class="details">Your cancellation of dependent's membership have been approved by Corporate Administrator and submitted to URG.</p>
<br />
