<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=europa\orion;initial catalog=emed;user id=sa;password=1+m90n3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thor\aegean;initial catalog=Membership;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ClaimsEntities" connectionString="metadata=res://*/Claims.csdl|res://*/Claims.ssdl|res://*/Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hellion\twilight;initial catalog=Claims;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mpidbtest\db_sqlserver;initial catalog=emed_11072019;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tritonDevEmed" connectionString="server=mpidbtest\db_sqlserver; database=emed_11072019; Uid=mpiuser ;password=itdbtw3n+y12" />
    <add name="RykaDevEmed" connectionString="server=mpidbtest\db_sqlserver; database=emed_11072019; Uid=mpiuser ;password=itdbtw3n+y12" />
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thor\aegean;initial catalog=Membership;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eMEDICardOldEntities" connectionString="metadata=res://*/eMedicardOld.csdl|res://*/eMedicardOld.ssdl|res://*/eMedicardOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vulture\ceasar;initial catalog=eMEDICard;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITMG_INTRAEntities" connectionString="metadata=res://*/ITMG_INTRA.csdl|res://*/ITMG_INTRA.ssdl|res://*/ITMG_INTRA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ghost\troy;Initial Catalog=ITMG_INTRA;User ID=mpiuser;Password=itdbtw3n+y12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>