<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>

    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx"  cookieless="UseCookies" slidingExpiration="true" ></forms>
    </authentication>
    <authorization >
      <deny users="?"/>
    </authorization>

    <sessionState timeout="720"></sessionState>

    <httpRuntime
    executionTimeout="7200"
    maxRequestLength="65536"
    />

  </system.web>

  <appSettings>
    <add value="pogisiallan" key="encryptionKey"/>
    <add key="domainName" value="medicardphils.com" />
    <add key="urgemail1" value="rviernes@medicardphils.com"/>
    <add key="bccEmail1"  value="webteam@medicardphils.com" />
    <add key="bccEmail2"  value="ctubig@medicardphils.com" />
    <add key="emailsender" value="noreply@medicardphils.com"/>
    <add key="DevelopmentMode" value="1"/>
    <add key="CopyToOldIntra" value="0"/>
    <add key="passwordlength" value="8"/>
    <add key="ContactNoRegistration" value="841-8080"/>
    <add key="UploadDir" value="D:\ECorporateFileUpload\"/> <!--F:\ECorporateFileUpload-->
    <add key="BaseUrl" value="https://webportal.medicardphils.com/emedicard"/>
  </appSettings>
  <connectionStrings>

    <!-- **** TEST CONNECTIONS **** -->

    <!--<add name="ClaimsEntities" connectionString="metadata=res://*/Claims.csdl|res://*/Claims.ssdl|res://*/Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hellion\twilight;initial catalog=Claims;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=triton-virtual\dev;initial catalog=emed;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tritonDevEmed" connectionString="server=triton-virtual\dev; database=emed; Uid=mpiuser ;password=itdbtw3n+y12"/>
    <add name="RykaDevEmed" connectionString="server=ryka\otto; database=emed; Uid=mpiuser ;password=itdbtw3n+y12"/>
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=triton-virtual\dev;initial catalog=Membership;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="eMEDICardOldEntities" connectionString="metadata=res://*/eMedicardOld.csdl|res://*/eMedicardOld.ssdl|res://*/eMedicardOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vulture\ceasar;initial catalog=eMEDICard;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITMG_INTRAEntities" connectionString="metadata=res://*/ITMG_INTRA.csdl|res://*/ITMG_INTRA.ssdl|res://*/ITMG_INTRA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ghost\troy;Initial Catalog=ITMG_INTRA;User ID=mpiuser;Password=itdbtw3n+y12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- ************************** -->

    
    <!--<add name="ClaimsEntities" connectionString="metadata=res://*/Claims.csdl|res://*/Claims.ssdl|res://*/Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hellion\twilight;initial catalog=Claims;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ryka\otto;initial catalog=emed;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mpidbtest\db_sqlserver;initial catalog=emed_11072019;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tritonDevEmed" connectionString="server=mpidbtest\db_sqlserver; database=emed_11072019; Uid=mpiuser ;password=itdbtw3n+y12"/>
    <add name="RykaDevEmed" connectionString="server=mpidbtest\db_sqlserver; database=emed_11072019; Uid=mpiuser ;password=itdbtw3n+y12"/>
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devteamsvr001;initial catalog=Membership;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eMEDICardOldEntities" connectionString="metadata=res://*/eMedicardOld.csdl|res://*/eMedicardOld.ssdl|res://*/eMedicardOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vulture\ceasar;initial catalog=eMEDICard;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITMG_INTRAEntities" connectionString="metadata=res://*/ITMG_INTRA.csdl|res://*/ITMG_INTRA.ssdl|res://*/ITMG_INTRA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ghost\troy;Initial Catalog=ITMG_INTRA;User ID=mpiuser;Password=itdbtw3n+y12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <add name="reimDB" connectionString="server=HELLION\twilight; database=ReimDB; Uid=mpiuser;password=itdbtw3n+y12"/>-->


    <add name="ClaimsEntities" connectionString="metadata=res://*/Claims.csdl|res://*/Claims.ssdl|res://*/Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hellion\twilight;initial catalog=Claims;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="emedicardEntities" connectionString="metadata=res://*/emedicard.csdl|res://*/emedicard.ssdl|res://*/emedicard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ryka\otto;initial catalog=emed;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tritonDevEmed" connectionString="server=ryka\otto; database=emed; Uid=mpiuser ;password=itdbtw3n+y12" />
    <add name="RykaDevEmed" connectionString="server=ryka\otto; database=emed; Uid=mpiuser ;password=itdbtw3n+y12" />
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thor\aegean;initial catalog=Membership;user id=mpiuser;password=itdbtw3n+y12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eMEDICardOldEntities" connectionString="metadata=res://*/eMedicardOld.csdl|res://*/eMedicardOld.ssdl|res://*/eMedicardOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vulture\ceasar;initial catalog=eMEDICard;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITMG_INTRAEntities" connectionString="metadata=res://*/ITMG_INTRA.csdl|res://*/ITMG_INTRA.ssdl|res://*/ITMG_INTRA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ghost\troy;Initial Catalog=ITMG_INTRA;User ID=mpiuser;Password=itdbtw3n+y12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <add name="reimDB" connectionString="server=HELLION\twilight; database=ReimDB; Uid=mpiuser;password=itdbtw3n+y12" />
    
  </connectionStrings>

  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MemberRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ActivationSent.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccountManager/BenfitsExclusions1.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccountManager/js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ChangeEmail.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Activate.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="misc/thickbox">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="img">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DLPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="emember">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="emember/js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <location path="DocUpload.aspx">
    <system.web>
      <httpRuntime
          maxRequestLength="16384"
          executionTimeout="600" />
    </system.web>
  </location>
  <location path="RequestDetails.aspx">
    <system.web>
      <httpRuntime
          maxRequestLength="16384"
          executionTimeout="600" />
    </system.web>
  </location>
  <location path="DocUploading.aspx">
    <system.web>
      <httpRuntime
          maxRequestLength="16384"
          executionTimeout="600" />
    </system.web>
  </location>

  <location path="RequesDetails.aspx/RequesDetails.aspx">
    <system.web>
      <httpRuntime
          maxRequestLength="16384"
          executionTimeout="600" />
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp from="noreply@medicardphils.com">
        <network host="owa.medicardphils.com"
                 userName="noreply@medicardphils.com"
                 password="medicard123"
                 port="25"  />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
