@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">Additional Dependent Request Disapproved</p>
<p class="greetings">Dear @Model.Member.FirstName,</p>
<p class="details">Your Additional Dependent request has been disapproved by your Corporate Administrator.</p>