@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title"> Action Memo</p>
<br />
<p class="details">Dear Sir/Ma'am,</p>
<br />
<p class="details">An Action Memo related to your application was issued by Medicard.</p>
<p class="details">You may click here http://emedicard to login and view the Action Memo.</p>
<br />