@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">Action Memo Reply Submitted to MediCard</p>
<br />
<p class="details">Dear Sir/Ma'am,</p>
<br />
<p class="details">Action Memo Reply has been submitted to MediCard for review and processing by your Corporate Admin.</p>
<br />