@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">Members with Action Memo</p>
<br />
<p class="details">Dear Sir/Ma'am,</p>
<br />
<p class="details">Action Memo was issued with the following details:</p>
<p class="details">Company Name: @Model.EndorsementBatch.CompanyName</p>
<p class="details">Reference ID: @Model.EndorsementBatch.ReferenceNumber</p>
<p class="details">Please refer to the attached Action Memo for more details.</p>
<br />
<p class="details">Thank you for using eMedicard!</p>
<br />