@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">ID Replacement Request Disapproved</p>
<p class="greetings">Dear @Model.Member.FirstName</p>
<p class="details">Your ID Replacement request has been disapproved by your Corporate Administrator.</p>
