@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">ID Replacement Request Submitted</p>
<p class="greetings">Dear @Model.Member.FirstName</p>
@if (Model.BypassCorporateAdminApproval)
{
    <p class="details">Your ID Replacement request has been submitted to Medicard for review and processing.</p>
}
else
{
    <p class="details">Your ID Replacement request has been submitted to your Corporate Admin for evaluation.</p>
}
